*{margin:0px;padding:0px;}

@media only screen 
and (max-device-width : 480px) {
	body{
	}
	
	#main{
	width:100%;
	}
	#head{
	height:60px;
	clear:both;
	
	}
	#head img{
	width:42px;
	vertical-align:middle;
	}
	#head p{
	}
	#head h1{
	font-size:14pt;
	text-align:center;
	font-family:"Times New Roman";
	font-weight:lighter;
	}
	#head h2{
	font-size:12pt;
	text-align:center;
	line-height:0px;
	font-family:"Times New Roman";
	font-weight:lighter;
	}
	#head img{
	}
	#menu{
	}
	#textArea{
	}
	#textArea p.Name{
	}
	#textArea p.Motto{
	}
	#textArea img{
	width:100%;
	}
	#textAreaVerwaltung{
	}
	#textArea img{
	}
	#footer{
	}
	#footer a{
	}
	#Loginbox{
	display:none;
	}
	
	/* Dropdown Menü */
	
	#menu {
	background:#3D3D3D;
	font-family:Helvetica;	
	margin:10px auto;
	width:100%;  /* Breite des Menüs */
	}
	 /* Erste Ebene */
	#menu > ul {
		margin:0px;
		padding:0px;
	}
	#menu > ul > li {
		margin:0px;
		padding:0px;
		list-style:none;
		float:left;
		width:20%;
		position:relative;
	}
	#menu > ul > li > a {
		display:block;
		text-align:center;
		text-decoration:none;
		background:#3D3D3D;
		color:white;
		padding:10px;
		transition:color 1.0s ease-in-out;

	}
	#menu > ul > li > a.selected {
		display:block;
		text-align:center;
		text-decoration:none;
		background:#3D3D3D;
		padding:10px;
		color:#00cc66;
		transition:color 1.0s ease-in-out;


	}
	#menu > ul > li:first-child > a {
		
	}
	#menu > ul > li.spacer {
		float:none;
		clear:both;
	}
	#menu > ul > li > a:hover {
		color:#00cc66;
	}

	/* Zweite Ebene */
	#menu > ul > li > ul {
		opacity:0;
		position:absolute;
		margin:-1px 0px 0px 0px;
		padding:0px;
		width:100%;
		display:none;
	}
	#menu > ul > li:hover > ul {
		opacity:0.85;
		display:block;
		-o-transition: all 0.6s ease-in-out;
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-ms-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;  
	}
	#menu > ul > li > ul > li {
		margin:0px;
		padding:0px;
		list-style:none;
	}
	#menu > ul > li > ul > li > a {
		display:block;
		font-size:0.9em;
		text-decoration:none;
		background: black;
		padding:5px;
		color:#FFF;
		border:1px solid rgba(0,0,0,0.2);
		border-top:0px solid;
		-moz-box-shadow: inset -1px -1px 1px rgba(255,255,255,0.2);
		-webkit-box-shadow: inset -1px -1px 1px rgba(255,255,255,0.2);
		box-shadow: inset -1px -1px 1px rgba(255,255,255,0.2);
	}
	#menu > ul > li > ul > li > a:hover {
		background: rgba(0,0,0,0.9);
		-o-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;  
	}

}





@media only screen 
and (min-device-width : 481px) {  
	.loginField{
	width:170px;
	}
	.loginButtons{
	margin-top:5px;
	width:59px;
	height:20px;
	}
	.regButton{
	margin-top:5px;
	width:114px;
	height:20px;
	}
	.logout{
	}
	.profilbild{
	float:left;
	width:25%;
	}
	#container{
	width:100%;
	}
	#streifen{
	height:38px;
	width:100%;
	background-color:#3D3D3D;
	position:absolute;
	top:140px;	
	z-index:-2;
	
	}
	#main{
	margin:0px auto;
	width:50%;
	}
	#head{
	height:130px;
	z-index:500;
	}
	#head img{
	width:60px;
	vertical-align:middle;
	}
	#head table{
	position:absolute;
	top:0px;
	}
	#head p{
	}
	#head h1{
	padding-top:25px;
	font-size:20pt;
	font-weight:lighter;
	text-align:center;
	font-family:"Times New Roman";
	}
	#head h2{
	line-height:0px;
	font-size:16pt;
	font-weight:lighter;
	text-align:center;
	font-family:"Times New Roman";
	}
	#head img{
	}
	#hmenu{
	width:100%;
	}
	#menu li{
	display:inline;
	}
	#textArea{
	clear:both;
	min-height:300px;
	width:100%
	
	}
	#textArea p{	
	
	}
	#textArea .abstand{
	position:relative;
	top:10px;
	}
	#textArea .font{
	font-size:14pt;
	font-weight:bold;
	color:darkblue;
	padding-left:20px;
	padding-top:5px;
	}
	#textArea p.Motto{
	}
	
	#textArea img{
	
	
	}
	#textArea img.titelbild{
	position:relative;
	bottom:37px;
	z-index:-500;
	width:100%;
	
	
	
	}
	#textAreaVerwaltung{
	}
	#textArea img{
	}

	#footer{
	border-top:solid black 1px;
	text-align:center;
	margin-top:15px;
	padding-top:10px;
	padding-bottom:20px;
	}
	#footer a{
	text-decoration:none;
	}
	#back a, #back img{
	position:absolute;
	right:25.1%;
	}
	#back img
	{
	width:35px;
	}
	
	
	
	
	/* Dropdown Menü */
	
	#menu {
	background:#3D3D3D;
	font-family:Helvetica;	
	margin:10px auto;
	width:100%;  /* Breite des Menüs */
	}
	 /* Erste Ebene */
	#menu > ul {
		margin:0px;
		padding:0px;
	}
	#menu > ul > li.items{
		margin:0px;
		padding:0px;
		list-style:none;
		float:left;
		width:25%;
		position:relative;
	}
	#menu > ul > li{
		margin:0px;
		padding:0px;
		list-style:none;
		float:left;
		width:20%;
		position:relative;
	}

	
	#menu > ul > li > a {
		display:block;
		text-align:center;
		text-decoration:none;
		background:#3D3D3D;
		color:white;
		padding:10px;
		transition:color 1.0s ease-in-out;

	}
	#menu > ul > li > a.selected {
		display:block;
		text-align:center;
		text-decoration:none;
		background:#3D3D3D;
		padding:10px;
		color:#00cc66;
		transition:color 1.0s ease-in-out;


	}
	#menu > ul > li:first-child > a {
		
	}
	#menu > ul > li.spacer {
		float:none;
		clear:both;
	}
	#menu > ul > li > a:hover {
		color:#00cc66;
	}

	/* Zweite Ebene */
	#menu > ul > li > ul {
		opacity:0;
		position:absolute;
		margin:-1px 0px 0px 0px;
		padding:0px;
		width:100%;
		display:none;
	}
	#menu > ul > li:hover > ul {
		opacity:0.85;
		display:block;
		-o-transition: all 0.6s ease-in-out;
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-ms-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;  
	}
	#menu > ul > li > ul > li {
		margin:0px;
		padding:0px;
		list-style:none;
	}
	#menu > ul > li > ul > li > a {
		display:block;
		font-size:0.9em;
		text-decoration:none;
		background: black;
		padding:5px;
		color:#FFF;
		border:1px solid rgba(0,0,0,0.2);
		border-top:0px solid;
		-moz-box-shadow: inset -1px -1px 1px rgba(255,255,255,0.2);
		-webkit-box-shadow: inset -1px -1px 1px rgba(255,255,255,0.2);
		box-shadow: inset -1px -1px 1px rgba(255,255,255,0.2);
	}
	#menu > ul > li > ul > li > a:hover {
		background: rgba(0,0,0,0.9);
		-o-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;  
	}
	
	/* Dropdown Login */
	
  

/*----------------------*/
#loginbox{
height:200px;
float:right;
}
#Loginbox nav ul {
  list-style: none;
  position: absolute;
  right:25.1%;
  float: right;
  background-color: #3D3D3D;
  border-bottom: 1px solid #444;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;    
}

#Loginbox nav li {
  float: left;          
}

#Loginbox nav #login {
  border-right: 1px solid #444;
  -moz-box-shadow: 1px 0 0 #222;
  -webkit-box-shadow: 1px 0 0 #444;
  box-shadow: 1px 0 0 #444;  
}

#Loginbox nav #login-trigger,
#Loginbox nav #signup a, #element a{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  color: white;
  text-shadow: 0 1px 0 #444;
}

#Loginbox nav #signup a {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

#Loginbox nav #login-trigger {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

#Loginbox nav #login-trigger:hover,
#Loginbox nav #login .active,
#Loginbox nav #signup a:hover {
  background: #222;
  color: #efefef;
}

#Loginbox nav #login-content {
  display: none;
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 999;    
  background: #3D3D3D;  
  padding: 15px;
  -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -moz-border-radius: 3px 0 3px 3px;
  -webkit-border-radius: 3px 0 3px 3px;
  border-radius: 3px 0 3px 3px;
}

#Loginbox nav li #login-content {
  left: 0px;
  width: 250px;  
}
#login-content a {
color:white;
}
#login a{
display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  color: white;
  text-shadow: 0 1px 0 #444;
}

/*--------------------*/

#inputs input {
  background: #efefef;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #222222;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #efefef inset;
  -webkit-box-shadow: 0 1px 1px #efefef inset;
  box-shadow: 0 1px 1px #efefef inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #bf4c24;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #efefef inset;
  -webkit-box-shadow: 0 0 0 1px #efefef inset;
  box-shadow: 0 0 0 1px #efefef inset;
}

/*--------------------*/

#login #actions {
  margin: 10px 0 0 0;
}

#login #submit {        
  background-color: #bf4c24;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d46a15), to(#bf4c24));
  background-image: -webkit-linear-gradient(top, #d46a15, #bf4c24);
  background-image: -moz-linear-gradient(top, #d46a15, #bf4c24);
  background-image: -ms-linear-gradient(top, #d46a15, #bf4c24);
  background-image: -o-linear-gradient(top, #d46a15, #bf4c24);
  background-image: linear-gradient(top, #d46a15, #bf4c24);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #222222;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #efefef;
}

#login #submit:hover,
#login #submit:focus {        
  background-color: #d79800;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bf4c24), to(#d46a15));
  background-image: -webkit-linear-gradient(top, #bf4c24, #d46a15);
  background-image: -moz-linear-gradient(top, #bf4c24, #d46a15);
  background-image: -ms-linear-gradient(top, #bf4c24, #d46a15);
  background-image: -o-linear-gradient(top, #bf4c24, #d46a15);
  background-image: linear-gradient(top, #bf4c24, #d46a15);
}    

#login #submit:active {        
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  float: right;
  line-height: 30px;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}
#actions a{
color:white;
padding-right:15px;
}

#zeittabelle {
margin: 10px auto;
text-align:center;
width:98%;
}

#zeittabelle  > tr > th {
	
}

#zeittabelle > tr > td {
background-color: blue;
}

#zeittabelle td:hover {

}

}
